<h1>タスク一覧</h1>

<%= link_to "新しいタスクを作成", new_task_path %>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <strong><%= task.title %></strong><br>
      <%= task.description %><br>
      <%= link_to "詳細", task_path(task) %> |
      <%= link_to "編集", edit_task_path(task) %> |
      <%= link_to "削除", task_path(task), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    </li>
  <% end %>
</ul>
