<h1>目標一覧</h1>

<%= link_to '新しい目標を登録', new_goal_path, class: 'btn btn-primary' %>

<% @goals.each do |goal| %>
  <div class="goal">
    <h2><%= goal.title %></h2>
    <ul>
      <% goal.tasks.each_with_index do |task, i| %>
        <li><strong>タスク <%= i + 1 %>:</strong> <%= task.title %></li>
      <% end %>
    </ul>
    <!-- 編集・削除リンクをここに追加 -->
    <%= link_to "編集", edit_goal_path(goal), class: "as-link-button" %> 
    <%= button_to "削除", goal_path(goal), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "as-link-button", form: { class: "inline-form" }  %>
    <%= link_to "記録する", record_goal_path(goal), data: { turbo: false } %>
  </div>
  <hr>
<% end %>
