<h1>目標一覧</h1>

<%= link_to '新しい目標を登録', new_goal_path, class: 'btn btn-primary' %>

<% @goals.each do |goal| %>
  <div class="goal">
    <h2><%= goal.title %></h2>
    <ul>
      <% goal.tasks.each_with_index do |task, i| %>
        <li><strong>タスク <%= i + 1 %>:</strong> <%= task.title %></li>
      <% end %>
    </ul>
    <%= link_to "編集", edit_goal_path(goal), class: "as-link-button" %> 
    <%= button_to "削除", goal_path(goal), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "as-link-button", form: { class: "inline-form" }  %>
    <%= link_to "記録する", record_goal_path(goal), data: { turbo: false } %>
    <p><%= goal.title %> - 継続日数: <%= goal.streak_count %>日</p>
    <canvas id="recordChart-<%= goal.id %>" width="400" height="200"></canvas>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        fetch("<%= records_data_goal_path(goal) %>")
          .then(response => response.json())
          .then(data => {
            const ctx = document.getElementById('recordChart-<%= goal.id %>').getContext('2d');
            new Chart(ctx, {
              type: 'line',
              data: {
                labels: data.dates,
                datasets: [{
                  label: '達成数',
                  data: data.counts,
                  fill: false,
                  borderColor: 'green'
                }]
              },
              options: {
                scales: {
                  x: {
                    title: {
                      display: true,
                      text: '日付'
                    }
                  },
                  y: {
                    beginAtZero: true,
                    min: 0,
                    max: 5,
                    ticks: {
                      stepSize: 1
                    },
                    title: {
                      display: true,
                      text: '達成数'
                    }
                  }
                }
              }
            });
          });
      });
    </script>
  </div>
  <hr>
<% end %> 

<h2>継続日数ランキング</h2>
<table>
  <thead>
    <tr>
      <th>順位</th>
      <th>ユーザー名</th>
      <th>目標名</th>
      <th>継続日数合計</th>
    </tr>
  </thead>
  <tbody>
    <% @ranking.each_with_index do |record, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= record.user_name %></td>
        <td><%= record.goal_name %></td>
        <td><%= record.total_count %>日</td>
      </tr>
    <% end %>
  </tbody>
</table>
