<h1><%= @goal.title %> の記録</h1>

<%= form_with url: record_goal_path(@goal), method: :post, data: { turbo: false } do |f| %>
  <% @records.each_with_index do |record, i| %>
    <div>
      <strong>タスク <%= i + 1 %>:</strong> <%= record.task.title %>
      <%= hidden_field_tag "records[][task_id]", record.task.id %>
      <%= check_box_tag "records[][done]", "1", record.done %>
    </div>
  <% end %>

  <%= submit_tag "記録を保存" %>
<% end %>
